/* ヘッダー */

.logologo{
  float: left;
}

div.logologo img{
height: 60px;
}
/* 検索ボックス */
.top-kensaku{
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.top-kensaku .textarea{
  height: 30px;
  width: auto;
}
.top-kensaku .button{
  background: green;
  height: 30px;
}
/* 右上のプルダウンメニュー */
.menu{
  float: right;
}

.menu p{
  float: left;
  margin: 10px;
  color: green;
  background-color: #EDF0E5;
  font-size: large;
}
